<div class='item-card'>
  <img
    class='item-img'
    src=<%= item.icon %> 
    alt='item icon'
  >
  </img>

  <div class='item-desc'>
    <h2 class='item-header'><%= item.name %></h2>
    <p class='item-creation-date'><%= item.created_at %></p>
  </div>
</div>