<div class='item-card'>
  <div class='item-desc'>
    <h2 class='item-header'><%= item.name %></h2>
    <p class='item-creation-date'><%= item.created_at %></p>
  </div>

  <p class='amount'><%= item.amount %></p>
</div>